# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class

# Ignore environment variable files
.env

# Ignore system files
.DS_Store

# Ignore IDE or editor settings
.idea/
.vscode/
input_videos/
runs/
training/
yolov8x.pt